<!DOCTYPE html>
<html style=""><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><meta charset="utf-8">
<style>

body {
  font: 13px sans-serif;
}


/*
#chart rect {
  fill: steelblue;
}
*/
#chart .legend {
  fill: black;
  font: sans-serif;
  text-anchor: start;
  font-size: 18px;
}

#chart text {
  fill: white;
  font: 18px sans-serif;
  text-anchor: end;
}

#chart .label {
  fill: black;
  font: 18px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#header {
 margin-top:20px;
 margin-right:20px;
 margin-bottom:20px;
 margin-left:20px;
}

#filter {
 margin-top:20px;
 margin-right:20px;
 margin-bottom:20px;
 margin-left:20px;
 font-size: 18px;
}


</style>
<link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">

<title>Searching Stack</title>
</head>

<body>
<script type="text/javascript" src="s/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="s/d3/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="s/d3/colorbrewer.js" charset="utf-8"></script>
<script type="text/javascript" src="s/d3/d3-tip.js" charset="utf-8"></script>



<div id="header">
  <h1>Searching Stack <img src="s/loader.gif" alt="Loading" style="width:30px;height:30px" id="loader"></h1> 
  <input type="text" name="competency" id="competency" size="100" placeholder="Add a competency"> <button type="addBtn" onclick="add()">Add</button>
  &nbsp;&nbsp;&nbsp;<button type="clearBtn" onclick="clean()">Clean</button>
  
  <div id="filter">
    <img src="s/filter.png" alt="Filter" style="width:20px;height:20px"> Age
    &nbsp;&nbsp;&nbsp;
    <img src="s/filter.png" alt="Filter" style="width:20px;height:20px"> Badges
  </div>
</div>


<div id="center">
  <div id="chart"></div>
</div>

<script>

// Communication with backend:
function add() {
  var competency = $("#competency").val()
  $("#loader").css("visibility", "visible");
  $.ajax({
    url: "add/"+competency,
    context: document.body
  }).done(function() {
    console.log("done Add")
  });
  
  d3.json("/chart", function(error, data) {
    d3.select("#chart").select("svg").remove()
    update(data)
  })
}
function remove(competency) {
  $("#loader").css("visibility", "visible");
  $.ajax({
    url: "remove/"+competency,
    context: document.body
  }).done(function() {
    console.log("done Remove")
  });
  
  d3.json("/chart", function(error, data) {
    d3.select("#chart").select("svg").remove()
    update(data)
  })
}
function clean() {
  $("#loader").css("visibility", "visible");
  $.ajax({
    url: "clean",
    context: document.body
  }).done(function() {
    console.log("done Remove")
  });
  
  d3.json("/chart", function(error, data) {
    d3.select("#chart").select("svg").remove()
    update(data)
  })
}

function profile(id) {
  window.open("s/radar.html?id="+id, "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, top=150, left=500, width=800, height=500");
}

d3.json("/s/offline.json", function(error, data) {
  update(data)
})

function update(data) {
  var nbrCompetencies = data.competencies.length;
  var chartWidth       = 750,
      barHeight        = 30,
      groupHeight      = barHeight * nbrCompetencies,
      gapBetweenGroups = 15,
      spaceForLabels   = 300,
      spaceForLegend   = 150;

  // Zip the series data together (first values, second values, etc.)
  var zippedData = [];
  for (var i=0; i<data.users.length; i++) {
    for (comp in data.users[i].competencies) {
      zippedData.push(data.users[i].competencies[comp]);
      //console.log(comp)
    }
  }

  // Color scale
  var color = d3.scale.category20();
  var chartHeight = barHeight * zippedData.length + gapBetweenGroups * data.users.length;

  var x = d3.scale.linear()
      .domain([0, d3.max(zippedData)])
      .range([0, chartWidth]);

  var y = d3.scale.linear()
      .range([chartHeight + gapBetweenGroups, 0]);

  var yAxis = d3.svg.axis()
      .scale(y)
      .tickFormat('')
      .tickSize(0)
      .orient("left");

  // Specify the chart area and dimensions
  var chart = d3.select("#chart").append("svg")
      .attr("width", spaceForLabels + chartWidth + spaceForLegend)
      .attr("height", chartHeight);

  // Create bars
  var bar = chart.selectAll("g")
      .data(zippedData)
      .enter().append("g")
      .attr("transform", function(d, i) {
        return "translate(" + spaceForLabels + "," + (i * barHeight + gapBetweenGroups * (0.5 + Math.floor(i/nbrCompetencies))) + ")";
      });

  // Create rectangles of the correct width
  bar.append("rect")
      .attr("fill", function(d,i) { return color(i % nbrCompetencies); })
      .attr("class", "bar")
      .attr("width", x)
      .attr("height", barHeight - 1);

  // Add text label in bar
  bar.append("text")
      .attr("x", function(d) { return x(d) - 3; })
      .attr("y", barHeight / 2)
      .attr("fill", "red")
      .attr("dy", ".35em")
      .text(function(d) { return d; });

  // Draw users
  bar.append("text")
      .attr("class", "label")
      .attr("x", function(d) { return - 10; })
      .attr("y", groupHeight / 2)
      .attr("dy", ".35em")
      .style("cursor","pointer")
      .text(function(d,i) {
        if (i % nbrCompetencies === 0)
          return data.users[Math.floor(i/nbrCompetencies)].name + ' [' + data.users[Math.floor(i/nbrCompetencies)].id + ']';
        else
          return "";
      })
      .on("click", function(d,i) {
        if (i % nbrCompetencies === 0)
          profile(data.users[Math.floor(i/nbrCompetencies)].id);
      });
          
  var sizeProfile = 50
  bar.append("svg:image")
      .attr("x", function(d) { return - 10 -250; })
      .attr("y", groupHeight / 2  - sizeProfile/2)
      .attr('width', sizeProfile)
      .attr('height', sizeProfile)
      .style("cursor","pointer")
      .attr("xlink:href",function(d,i) {
        if (i % nbrCompetencies === 0)
          return "https://secure.gravatar.com/avatar/"+data.users[Math.floor(i/nbrCompetencies)].hash;
        else
          return ""});
  

  chart.append("g")
        .attr("class", "y axis")
        .attr("transform", "translate(" + spaceForLabels + ", " + -gapBetweenGroups/2 + ")")
        .call(yAxis);

  // Draw legend
  var legendRectSize = 22,
      legendSpacing  = 4,
      offsetImage = 25;

  var legend = chart.selectAll('.legend')
      .data(data.competencies)
      .enter()
      .append('g')
      .attr('transform', function (d, i) {
          var height = legendRectSize + legendSpacing;
          var offset = -gapBetweenGroups/2;
          var horz = spaceForLabels + chartWidth + 40 - legendRectSize + offsetImage;
          var vert = i * height - offset;
          return 'translate(' + horz + ',' + vert + ')';
      });

  legend.append('rect')
      .attr('width', legendRectSize)
      .attr('height', legendRectSize)
      .style('fill', function (d, i) { return color(i); })
      .style('stroke', function (d, i) { return color(i); });

  legend.append('text')
      .attr('class', 'legend')
      .attr('x', legendRectSize + legendSpacing)
      .attr('y', legendRectSize - legendSpacing)
      .text(function (d) { return d; });

  legend.append("svg:image")
        .attr('x',-25)
        .attr('y',1)
        .attr('width', 20)
        .attr('height', 20)
        .style("cursor","pointer")
        .attr("xlink:href","s/remove.png")
        .on("click", function(d) {
          remove(d)
        });
        
  $("#loader").css("visibility", "hidden");
}
    
</script>


</body></html>